
    .image {
      width: 100%;
      height: 25%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      align-content: center;
      align-self: center;
      padding-right: 200px;
      color:white;
    }

      .name {
        width: 90%;
        margin-bottom: 15px;
        color:white;
      }
  
     
    
  